.screen1-title-line1,.screen1-title-line2{
    font-size: larger;
}
.footer-text-loop,.scoll-to-exp1{
    font-size:10px;
}
.footer-text-loop{
    width: max-content;
}
.footer-text-1{
    display: flex;
    margin-left: 8vw;
    flex-direction: column;
}
.screen3{
    margin-top: 15vh;
}
.footer-text-1{
    margin-bottom: 10vh;
}
.container
{
    margin-top: 10vh;
}
.s4-subtext{
    display: none;
}
.s4-blackbox-main{
    height: 80vh;
}
.s4-tb-coordinates{
    margin-top: 100px;
}