.about-screen9{
    height: 65vh;
    width: 100vw;
    margin: 0%;
    padding: 0%;
    position: relative;
    overflow: hidden;
    background-color: white;
    background-image: url(../assests/image-list/as-9.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ab-s9-title{
    align-self: center;
    font-size: xx-large;
    color: white;
}
.ab-s9-explore-b{
    align-self: center;
    height:7vh;
    width: 10vw;
    border: white 2px solid;
    margin-top: 5vh;
}
.ab-s9-content{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 300vh;
    margin-top: 12vh;
}