.body{
    padding: 0%;
    margin: 0px;
    height: fit-content;
}.ow-s1{
    height: 300vh;
    width: 100%;
    background-color: #000000;
    margin-top: 0px;
}
.ow-s1-main{
    height: 260vh;
    width: 95vw;
    margin-left: 2vw;
    margin-top: 9vw;
    display: flex;
    flex-direction: column;
    gap: 12vh;
}
.ow-s1-row{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
.ow-s1-card{
    width: 25vw;
    height: 30vh;
}
.ow-s1-card-ib{
    height: 25vh;
    background-size:cover ;
    margin-bottom: 2vh;
}
.ow-s1-card-tt{
    color: white;
}
.ow-s1-card-tm{
    color:gray;
}