.screen2{
    height: 150vh;
}.screen2-main{

    height: 110vh;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 30vh;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 50px;


}
.screen2-sub1{
    
    height: 100%;
    width: 50%;
}
.screen2-sub2{
    
    height: 100%;
    width: 50%;

}
.screen2-sub1-text{
    
    height: 50%;
    width: 100%;
   
}
.screen2-sub1-img{
    
    height: 50%;
    width: 100%;

}
.s2para-text{
    
    margin-top:20vh;
    margin-right:30px;
    height: 50%;

}
.s2welcome-text,.s2world-text{
    font-size: xx-large;
}
.screen2-sub2-img{
    height: 80vh;
    margin-bottom: 20vh;
    margin-right: 10vh;
}
.s2upper{
    height: 80vh;
    margin-bottom: 20vh;
    margin-right: 10vh;
    width: 500px;
    

}
.s2lower{
    margin-top: 20vh;
    height: 30vh;
    width: 30vw;
}